
@import url("assets/fonts/inter.css");

@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    html {
      --font-size: 16px;
      font-size: var(--font-size);
      font-family: Inter, sans-serif;
    }

    input::-ms-clear, input::-ms-reveal {
      display: none;
    }
  
    :root {
      --color-primary: #009F96;
      --color-secondary: #10C5BB;
      --color-background: #F9F9F9;
      --color-text-primary: #495453;
      --color-text-secondary: #6D8385;
      --color-surface: #FFFFFF;
      --color-surface-user: #D2EDEB;
      --color-hoverButton: #10C5BB;

      --color-danger: #d30202;
      --color-hoverDanger: #b80202;
      --color-edit: #5DB6DC;
      --color-hoverEdit: #278bb6;
      --color-success: #009F55;
      --color-hoverSuccess: #198754;
      --color-warning: #ffc107;
    }
    
    [data-theme="high-contrast"] {
      --color-primary: #000000;
      --color-secondary: #242424;
      --color-background: #F9F9F9;
      --color-text-primary: #424242;
      --color-text-secondary: #3F3F3F;
      --color-surface: #FFFFFF;
      --color-surface-user: #D2D2D2;
      --color-hoverButton: #242424;

      --color-danger: #000000;
      --color-hoverDanger: #242424;
      --color-edit: #000000;
      --color-hoverEdit: #242424;
      --color-success: #000000;
      --color-hoverSuccess: #242424;
      --color-warning: #000000;
    }
  }

